 {{#each songs }}

    {{#list date_year 2003 }}
        <div class="songs">
            <p>Artist Name: {{ artist_name }}</p>
            <p>Song Name: {{ song_name }} </p>
            <p>Date: {{ date_year }} </p>
        </div>

    {{/list}}

{{/each}}


